body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-width: 350px;
  min-height: 400px;
}

.title-container {
  background-color: #F7B500;
  width: 100%;
}

h1 {
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  margin: 15px 0;
  text-align: center;
}

.main-container {
  align-items: center;
  border: 1px solid rgb(212, 212, 212);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 20px; 
  overflow-y: auto;
}
  
.tabs-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
}

.tablinks {
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: rgb(239, 239, 239);
  border-radius: 0px;
  border: 1px solid rgb(228, 228, 228);
  height: 50px;
  width: 100%;
}

.active {
  background-color: rgb(212, 212, 212);
}

.content-container {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

#savedNotes p {
  margin: 0;
}

.clippy-container {
  border: 1px solid black;
  display: flex;
  width: 100%;
}

.clippy {
  border: 1px solid black;
  width: 80px;
  /* animation: move 3s alternate; */
  animation-name: move;
  animation-duration: 3s;
  animation-play-state: running;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes move {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(23px);
  }
  20% {
    transform: translateX(60px);
  }
  30% {
    transform: translateX(85px);
  }
  40% {
    transform: translateX(100px);
  }
  50% {
    transform: translateX(120px);
  }
  60% {
    transform: translateX(145px);
  }
  70% {
    transform: translateX(165px);
  }
  80% {
    transform: translateX(180px);
  }
  90% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(220px);
  }
}
  
/* @keyframes move {
  0% {
    left: 0;
  }
  50% {
    left: 58%;
  }
  100% {
    left: 0;
  }
} */
  